@import "../abstract/mixins.scss";
@import "../base/colors.scss";

.header {
  @include flex-row;
  width: 100%;
  height: 90px;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0;
  z-index: 100;
  background-color: rgba($color: $primary-brand-600, $alpha: 0.8);
  > nav {
    @include flex-row;
    height: 100%;
    width: auto;
    align-items: center;
  }
}
