@import "@styles/base/colors.scss";
@import "@styles/base/fonts.scss";
@import "@styles/base/breakpoints.scss";

.favorites {
  &__title {
    color: $grey-500;
    @include title();
  }
  &__content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    > .reviews {
      display: grid;
      grid-template-rows: 60px repeat(auto-fit, minmax(130px, 1fr));
      width: 100%;
      margin-top: 30px;
      margin-left: 66px;
      > h2 {
        @include title();
        margin: 0;
      }
      > .review-wrapper {
        border-radius: 10px;
        border: 1px solid $grey-200;
        padding: 16px;
        margin: 24px auto;
        width: fit-content;
        box-shadow: 0px 3px 10px -4px;
        > .reviewcard {
          margin: 0;
        }
      }
    }
    @media screen and (max-width: $breakpoint-m + 110px) {
      grid-template-columns: 1fr !important;

      > .reviews {
        margin-left: 0;
      }
    }
  }
  &__about {
    padding: 10px 10px;
    margin-left: 56px;
  }
}

@media (max-width: 320px) {
  .favorites__content {
    > .reviews {
      margin-left: 0px;
    }
  }
  .favorites__content > .reviews > .review-wrapper {
    border-radius: 10px;
    border: 1px solid #c5dee9;
    padding: 5px;
    margin: 24px auto;
    width: 90%;
    box-shadow: 0px 3px 10px -4px;
  }
  .favorites__content > .reviews > h2 {
    font-size: 3.3rem;
    font-weight: normal;
    margin-left: 12px;
    margin-bottom: 30px;
  }
  .favorites__title {
    color: #1b242c;
    font-size: 3.3rem;
    font-weight: normal;
    margin-top: 40px;
    margin-left: 20px;
  }
  .favorites__about {
    padding: 10px 10px;
    margin-left: 12px;
  }
  .favorite__cover {
    width: 100%;
    height: 100px;
    background-color: #ffe58a;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .favorites__content {
    > .reviews {
      margin-left: 0px;
    }
  }
  .favorites__content > .reviews > .review-wrapper {
    border-radius: 10px;
    border: 1px solid #c5dee9;
    padding: 5px;
    margin: 24px auto;
    width: 90%;
    box-shadow: 0px 3px 10px -4px;
  }
  .favorites__content > .reviews > h2 {
    font-size: 3.3rem;
    font-weight: normal;
    margin-left: 16px;
    margin-bottom: 30px;
  }
  .favorites__title {
    color: #1b242c;
    font-size: 3.3rem;
    font-weight: normal;
    margin-top: 40px;
    margin-left: 20px;
  }
  .favorites__about {
    padding: 10px 10px;
    margin-left: 12px;
  }
  .favorite__cover {
    width: 100%;
    height: 89px;
    background-color: #ffe58a;
    margin-bottom: 10px;
  }
}
.favorites-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 80%;
  gap: 40px;
  margin: 35px auto;
}
