@import "@styles/base/colors.scss";
@import "src/styles/base/fonts.scss";

.favorites {
  &__title {
    color: $grey-500;
    @include title();
  }
  &__content {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  &__about {
    padding: 10px 20px;
  }
}
