@import "../abstract/mixins.scss";
@import "../base/colors.scss";

.popper {
  min-width: auto;
  padding: 0 16px 0 8px;
  background-image: none;
  background-color: #fff;
  margin-right: -8px;
  &__toggler {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 50%;
    > p {
      transition: all 0.3s ease-in;
      padding: 0;
      width: 20px;
      border: 1px solid #000;
      margin: 0 auto;
    }
    &::before {
      transition: all 0.3s ease-in;
      content: "";
      width: 20px;
      border: 1px solid #000;
      margin: auto auto 4px;
    }
    &::after {
      transition: all 0.3s ease-in;
      content: "";
      width: 20px;
      border: 1px solid #000;
      margin: 4px auto auto;
    }
  }
  &__toggler--clicked {
    > p {
      border: none;
    }
    &::before {
      transform: rotate(45deg) translate(8px, 4px);
    }
    &::after {
      transform: rotate(-45deg) translate(4px, 1px);
    }
  }
  &__info {
    position: absolute;
    display: none;
    left: -120px;
    top: 50px;
    width: 264px;
    background-color: #fff;
    border-radius: 8px;
    &--visible {
      @include flex-column;
    }
    > .button {
      background-image: none;
      background-color: #fff;
      margin: 0;
      padding: 20px 0;
      > p {
        color: $grey-700;
      }
      &:hover {
        background-image: none;
        background-color: $grey-200;
      }
    }
    &:nth-child(3) {
      margin-top: 1px solid $grey-300;
      margin-bottom: 1px solid $grey-300;
    }
  }
}
