@import "../abstract/mixins.scss";
@import "../base/colors.scss";

.reviewcard {
  @include flex-row;
  align-items: center;
  margin: 50px auto;
  padding: 10px;
  max-width: 650px;
  min-height: 100px;
  border: none;
  .avatar {
    > .avatar__username {
      margin: auto auto 10px;
    }
  }
  &__body {
    @include flex-column;
    justify-content: center;
  }
  &__header {
    margin-bottom: 12px;
    h4 {
      font-size: 2.3rem;
      span {
        color: goldenrod;
      }
    }
  }
}
.reviewcard_stars {
  @include flex-row;
  align-items: center;
  gap: 24px;
  & span {
    font-size: 2rem;
  }
}
.reviewcard__copy {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}
.author {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  text-align: right;
}

@media (max-width: 320px){
  .reviewcard{
    display: block;
    margin: 0px;
    width: 100%;
  }
  .reviewcard_stars{
    display: block;
  }
  .author{
    margin-top: 4px;
  }
}
