@import "../abstract/mixins.scss";
@import "../base/colors.scss";

.review {
  width: 100%;
  height: auto;
  margin-top: 80px;
  &__image {
    max-width: 100%;
    height: 480px;
    border-radius: 20px;
    background-image: url("https://h2.gifposter.com/bingImages/CityofGuanajuato_EN-US1849642207_1920x1080.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 60px;
  }
  .reviews {
    width: 80%;
    margin: auto;
  }
}
