@import "../abstract/mixins.scss";
@import "../base/colors.scss";

.town-card {
  @include flex-row;
  justify-content: space-between;
  width: 430px;
  min-height: 210px;
  border-radius: 20px 0 0 20px;
  box-shadow: 0px 5px 15px -1px rgba(0, 0, 0, 0.45);
  padding: 24px;
  border-radius: 20px;
  background-color: white;
  margin: 0 auto;
  &__thumbnail {
    width: 60%;
    max-width: 80px;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
  }
  &__body {
    @include flex-column;
    padding: 10px 10px 0;
    overflow: hidden;
  }
  &__title {
    color: $primary-brand-700;
    font-size: 1.9rem;
    margin-bottom: 10px;
  }
  &__description {
    max-width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: auto;
  }
}

@media (max-width: 320px) {
  .review {
    > .section-title {
      margin: 0px 24px 16px 24px !important;
    }
  }
  .town-card {
    @include flex-column;
  }
  .town-card__body > .button {
    margin-top: 16px;
    margin-left: 0px;
    margin-right: 0px;
    width: auto;
    font-size: 12px !important;
  }
  .town-card__thumbnail {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .town-card {
    width: auto;
    margin: 16px;
  }
}
@media (max-width: 1024px) {
  .town-card {
    @include flex-column;
    width: auto;
    margin: 16px;
  }
  .town-card__thumbnail {
    width: 100%;
    height: 140px;
    max-width: none;
  }
  .town-card__body {
    width: 100%;
    height: 100%;
  }
  .town-card__description {
    margin-bottom: auto;
  }
  .town-card__body > .button {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: auto;
    font-size: 12px !important;
  }
}
