@import "../base/breakpoints.scss";

.results-cards {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 10px 18px;
  margin: 30px 0;
  @media (max-width: $breakpoint-m) {
    grid-template-columns: 1fr;
  }
}
