@import "./base/colors.scss";
@import "./base/fonts.scss";
@import "./base/breakpoints.scss";

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $background-color;
  font-family: $main-font-family;
}

p {
  font-size: 1.6rem;
}

.section-title {
  font-size: 2.8rem;
  margin: auto 80px;
  @media (max-width: $breakpoint-m - 80px) {
    margin: 0;
  }
}

.content-wrapper {
  min-height: 100vh;
}

.modal-parent {
  position: relative;
}
