@import "../../../styles/abstract/mixins.scss";

.hero {
  width: 100%;
  height: 575px;
  background-image: linear-gradient(to bottom, rgba(34, 34, 34, 0), #111);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 500px;
  & > div {
    position: relative;
  }
  & img {
    width: 100%;
    height: 564px;
    object-fit: cover;
  }
}

@media (max-width: 320px) {
  .hero {
    height: 360px !important;
  }
}
@media (max-width: 768px) {
  .hero {
    height: 450px;
  }
}
