@import "../../../styles/abstract/mixins.scss";
@import "../../../styles/base/colors.scss";
@import "../../../styles/base/breakpoints.scss";

.review {
  width: 100%;
  height: auto;
  margin-top: 80px;
  &__image {
    max-width: 100%;
    height: 480px;
    border-radius: 20px;
    background-image: linear-gradient(
        to right,
        rgba($primary-brand-100, 0),
        $primary-brand-900
      ),
      url("https://i.ibb.co/GnrQx1m/sara-mejia-FSs-Dgf9y-Jts-unsplash.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 60px;
  }
  &__overlay {
    @include flex-column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
    padding-right: 34px;
    > h2 {
      color: #fff;
      text-align: right;
      font-size: 4.8rem;
      margin-bottom: 16px;
      font-weight: 600;
    }
    > p {
      color: #fff;
      font-size: 2.8rem;
      font-weight: normal;
      margin-bottom: 56px;
    }
    > .button {
      height: auto;
      padding: 16px 48px;
    }
  }
  .reviews {
    width: 80%;
    margin: auto;
  }
  @media screen and (max-width: $breakpoint-m) {
    .reviews > .reviewcard {
      flex-direction: column;
    }
  }
}

@media (max-width: $breakpoint-s + 40) {
  .review__image {
    height: 400px;
  }
  .review__overlay {
    padding: 16px;
    > h2 {
      font-size: 32px;
    }
    > p {
      font-size: 24px;
      text-align: right;
    }
    > .button {
      height: auto;
      padding: 8px 0px 8px 0px;
      margin-right: 0px;
    }
  }
  .review {
    margin-bottom: 32px;
  }
}
@media (max-width: 768px) {
}
