.gallery {
  width: 100%;
  padding: 30px;
  position: relative;
  white-space: nowrap;
  box-sizing: border-box;
  overflow-x: hidden;
  & h3 {
    font-size: 2.8rem;
    font-weight: normal;
    letter-spacing: 0.25px;
    margin-bottom: 40px;
    margin-left: 0px;
  }
  &__carrousel {
    overflow: scroll;
  }
  &__img {
    width: 326px;
    height: 292px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 40px;
  }
  &__arrow {
    position: absolute;
    height: 100%;
    background-color: rebeccapurple;
  }
}
