@import "../../../styles/abstract/mixins.scss";

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  &__info {
    display: grid;
    grid-template-rows: 0fr 1fr;
  }
  &__detail_stars {
    font-size: 2.2rem;
  }
  &__title {
    font-size: 2.8rem;
    font-weight: normal;
    margin-bottom: 16px;
    margin-top: 36px;
  }
  &__description p {
    letter-spacing: 0.5px;
  }
  &__widgets {
    > .icon {
      @include flex-row;
      justify-content: center;
      width: 100%;
      margin-bottom: 20px;
      > p,
      > .MuiSvgIcon-root {
        font-size: 2.6rem;
        line-height: 1;
      }

      > .MuiSvgIcon-root {
        color: red;
        margin-right: 10px;
        cursor: pointer;
      }
    }
  }

  &__map {
    margin: 0 auto;
    width: 70%;
    & iframe {
      border-radius: 20px;
      border: 0;
      box-shadow: 0px 3px 10px -4px;
    }
  }
}
.detail__stars {
  font-size: 2.8rem !important;
}

@media (max-width: 320px) {
  .about {
    h1 {
      font-size: 1em;
    }
    display: grid;
    grid-template-columns: 1fr;
    padding: 16px;
  }
  .about__info {
    display: grid;
    grid-template-rows: 0fr 1fr;
  }
  .about__map {
    width: 100%;
  }
}
