@import "../../../../styles/abstract/mixins.scss";

.map {
  margin: 0 auto;
  width: 70%;
  text-align: center;
  & iframe {
    border-radius: 20px;
    border: 0;
    box-shadow: 0px 3px 10px -4px;
  }
}
