/*
░█████╗░░█████╗░██╗░░░░░░█████╗░██████╗░░██████╗
 ██╔══██╗██╔══██╗██║░░░░░██╔══██╗██╔══██╗██╔════╝
 ██║░░╚═╝██║░░██║██║░░░░░██║░░██║██████╔╝╚█████╗░
 ██║░░██╗██║░░██║██║░░░░░██║░░██║██╔══██╗░╚═══██╗
 ╚█████╔╝╚█████╔╝███████╗╚█████╔╝██║░░██║██████╔╝
 ░╚════╝░░╚════╝░╚══════╝░╚════╝░╚═╝░░╚═╝╚═════╝░
*/

/* Background color */
$background-color: #f2f4f9;

/* Brand colors */
$primary-brand-100: #fff8d8;
$primary-brand-200: #fff0b1;
$primary-brand-300: #ffe58a;
$primary-brand-400: #ffda6c;
$primary-brand-500: #ffc93c;
$primary-brand-600: #dba52b;
$primary-brand-700: #b7841e;
$primary-brand-800: #936513;
$primary-brand-900: #7a4f0b;

$gradient-1: #0e41c2;
$gradient-2: #356bf2;

$info-100: #ccf9ff;
$info-200: #99eeff;
$info-300: #66dcff;
$info-400: #3fc7ff;
$info-500: #00a5ff;
$info-600: #0080db;
$info-700: #005fb7;
$info-800: #004393;
$info-900: #00307a;

$grey-100: #e1eff4;
$grey-200: #c5dee9;
$grey-300: #93afbf;
$grey-400: #5b7080;
$grey-500: #1b242c;
$grey-600: #131c25;
$grey-700: #0d151f;
$grey-800: #080e19;
$grey-900: #050a15;
