/*
// ███████╗░█████╗░███╗░░██╗████████╗░██████╗
// ██╔════╝██╔══██╗████╗░██║╚══██╔══╝██╔════╝
// █████╗░░██║░░██║██╔██╗██║░░░██║░░░╚█████╗░
// ██╔══╝░░██║░░██║██║╚████║░░░██║░░░░╚═══██╗
// ██║░░░░░╚█████╔╝██║░╚███║░░░██║░░░██████╔╝
// ╚═╝░░░░░░╚════╝░╚═╝░░╚══╝░░░╚═╝░░░╚═════╝░
*/

/*Fonts Families*/
$main-font-family: "Montserrat";

// /*Font Sizes*/
// $header-1: 48px;
// $header-2: 40px;
// $header-3: 33px;
// $header-4: 28px;
// $header-5: 43px;
// $header-6: 19px;
// $button: 16px;
// $subtitle-1: 48px;
// $header-1: 48px;
// $header-1: 48px;
// $header-1: 48px;

@mixin title {
  font-size: 3.3rem;
  font-weight: normal;
  margin-top: 40px;
  margin-left: 66px;
}
