@import "../../styles/base/colors.scss";
@import "../../styles/abstract/mixins.scss";

.notfound {
  @include flex-column;
  align-items: flex-start;
  justify-content: center;
  background-image: url(https://i.ibb.co/wNZbbY4/annie-spratt-k-ZO9xqm-O-TA-unsplash.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding-left: 56px;
  &__title {
    font-size: 16vw;
    color: $primary-brand-500;
  }
  &__copy {
    > h2 {
      color: #fff;
      font-size: 4.8rem;
      margin-bottom: 24px;
    }
    > p {
      color: #fff;
      font-size: 3.3rem;
      margin-bottom: 133px;
    }
    > .button {
      display: block;
    }
  }
}
